<!-- Variables are passed by Django views. For example, {{question.question_text}} tells a Django template to output the question variable's text, 
    where question can be an object and text a field or question can be a dictionary and question_text is a key. -->
<h1>{{ question.question_text }}</h1>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action="{% url 'polls:vote' question.id %}" method="post">
{% csrf_token %} <!-- Since we’re creating a POST form (which can have the effect of modifying data), we need to worry about Cross Site Request Forgeries. csrf_token protects against it-->
{% for choice in question.choice_set.all %}
    <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
    <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br>
{% endfor %}
<input type="submit" value="Vote">
</form>